body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner{
    position: relative;

}

.banner img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto auto;
}

.banner .welcome{
    position: absolute;
    left: 0;
    top: 49%;
    background-color: orange;
    color: white;
    padding: 49px;
}

.images img{
    max-width: 100%;

}

.banner h2{
    font-size: 74px;
}

.banner h2 span{
    font-size: 1.3em;
}

header{
    background-color: #f63232;
    padding: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: white 4px solid;
    padding: 2px 12px;
    display: inline-block;
    border-radius: 36px;
}

nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 49px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: #4b4b4b;
}

nav li a .join{

}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2{
    color: #f63232;
    font-size: 50px;
}

article p{
    line-height: 1.5em;
    color: #4b4b4b;
}

.images li{
    text-align: center;
    margin: 80px 0;
    display: inline-block;
}

section.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}

.join h2{
    font-size: 36px;
}

form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: white solid 20px;
}

footer{
    background: #f63232;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

section.join p{
    padding: 40px;
    margin: 20px auto;
}

nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    text-align: center;
    margin: 80px 0;
    display: inline-block;
    position: relative;
    top: -4px;
}

form input:focus{
    border: solid 4px darkblue;
    outline: none;
}

form input:valid{
    border: 4px solid #71d300;
}

@media screen and (max-width:1400px) {
    .banner .welcome h2{
        font-size: 60px;
    }

    nav li{
        font-size: 18px;
    }
}

@media screen and (max-width:900px) {
    .banner .welcome h2{
        font-size: 40px;
    }
}
